body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"], textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn  {
    margin-top: 20px;
    text-align: center;
}

.btn  {
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bold;
}

#submit {
    background-color: #4caf50;
    color: white;
    transition: background-color 0.3s ease;
}

#clear {
    background-color: #f44336;
    color: white;
    transition: background-color 0.3s ease;
}

/* .btn:hover {
    filter: brightness(0.8);
} */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-radius: 4px;
}

th {
    background-color: #f2f2f2;
    
}

